
header{
background-color: var(--blue)  ;
color: white;

height: var(--header-height);
width: 100%;

display: flex;
justify-content: center;
align-items: center;

box-shadow: 20px 20px 30px rgba(150,150,150,0.5);
z-index: 99;

}