
header{
background-color: var(--orange)  ;
color: white;

height: var(--header-height);
width: 100%;

border-radius: 8px 8px 0px 0px;

display: grid;
grid-template-columns: 20% 1fr;

align-items: center;
align-content: center;

font-weight: 600;

box-shadow: var(--shadow-pop);
}

header img{
    height: 40%;
    margin-left: 12px;;
}
