html{
    height: 100%;
    font-size: var(--font-default-mobile);
        
    }

    
    body{
    margin:10px;
    display: grid;
    grid-template-rows: var(--header-height) 1fr  ;
    font-family: 'Montserrat', sans-serif;
   
    }

.App{
    box-shadow: var(--shadow-pop);
    
}

    h2{
        padding:0;
        margin:0;
    }
    