main {
    background-color: white;
    font-size: 18px;
    margin: 20px 0px; 

    width: 100%;
    display: grid;
    justify-items: center;
    grid-gap: 1vh;
    grid-template-rows: auto 1fr;
}

