:root {
    --header-height: 10vh;
    --font-default-mobile: 18px;
    --font-default-laptop: 16px;
    --blue: rgb(74, 121, 182);
    --green: rgb(139, 201, 163);
    --red: rgb(201, 139, 139);
    --orange: rgb(218, 151, 50);
    --shadow-pop: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}
